# Compose
docker-compose.yml

# Git
.git
.gitignore
.gitattributes

# Miscellaneous
.DS_Store
Thumbs.db

# Homestead
after.sh
aliases
Homestead.yaml
Vagrantfile

# Vagrant
/.vagrant

# Composer
/vendor/

# IDE
/.idea

# PHPCS
cs_fixer*
.php_cs.cache
.php_cs.dist

# NodeJS
node_modules/

# WordPress
/htdocs/cms/
/htdocs/content/uploads/
/htdocs/content/upgrade/
